{
  "presets": 
    // "airbnb",
    [
      "@babel/preset-env",
      // {
      //   "useBuiltIns": "entry",
      //   "modules": false
      // }
    ]
  ,
  "plugins": [
    "transform-vue-jsx",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    "lodash",
    [
      "@babel/plugin-transform-regenerator",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ],
  "comments": false
}
