{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "> 0.25%, not dead",
        "useBuiltIns": "entry",
        "corejs": 3,
        "debug": false
      }
    ]
  ],
  "plugins": [
    "transform-vue-jsx",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    "lodash",
    [
      "@babel/plugin-transform-regenerator",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ],
  "comments": false
}
